.dark-theme {
  ion-header {
    background-color: black;
    color: white;
  }

  ion-content {
    background-color: black;
    color: white;
  }
}

.light-theme {
  ion-header {
    background-color: white;
    color: black;
  }

  ion-content {
    background-color: white;
    color: black;
  }
}
