<ion-content class="ion-padding" [fullscreen]="true">
  <div class="page-content">
    <div class="background-image">
      <!-- Rest of your page content here -->
      <ion-header collapse="condense">
        <ion-toolbar style="text-align: center;">
          <ion-title size="large">Entertainment</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-button [routerLink]="['/movies']" routerLinkActive="router-link-active" color="primary">
        Click to explore
      </ion-button>
    </div>
  </div>
</ion-content>

